.functionCtn {
  width: 100%;

  background: url("/assets/functions.avif") no-repeat fixed;
  background-position: center;
  background-size: cover;
}
.functionCtnInner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

.functionCtnInner h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  padding-top: 20px;
  color: #b08f33;
  font-size: 2.5rem;
  font-weight: 200;
}

.functionCtnInner p {
  color: white;
  text-align: center;
  font-size: 1rem;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  padding-top: 25px;
  font-weight: 200;
  line-height: 25px;
}

/* Enquire Form*/
.outerFormCtn {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formControl {
  padding-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  height: 100%;
}
.nameEmail {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.functionsGuestNumber {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.functionsGuestNumber .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.functionsGuestNumber .inputs label {
  width: 100%;
}
.functionsGuestNumber .inputs input {
  width: 100%;
  font-family: "Playfair Display", serif;
}

.nameEmail .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nameEmail .inputs input {
  width: 100%;
  font-family: "Playfair Display", serif;
}

.inputs {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}
.inputs input {
  padding: 15px;
  width: 96%;
  font-size: 1.2rem;
  border-radius: 2px;
  border: 2px solid #b08f33;
  font-family: "Playfair Display", serif;
  color: #1093f4;
}
.inputs label {
  width: 96%;
  color: aliceblue;
  padding-bottom: 6px;
}
.inputs textarea {
  font-family: "Playfair Display", serif;
  padding: 3px;
  width: 96%;
  font-size: 1.3rem;
  color: #1093f4;
}

.inputsBtn {
  padding-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputsBtn input {
  width: 30%;
  padding: 12px;
  color: #b08f33;

  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  font-weight: 200;
  border: white solid 1px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 20px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.6s linear;
}

.inputsBtn input:hover {
  transform: scale(1.1);
}

.okStatusDeliveryCtn {
  background-color: green;
  margin-top: 5px;

  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.okStatusDeliveryCtn p {
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .functionCtnInner h1 {
    font-size: 4rem;
  }
  .functionCtnInner p {
    font-size: 1.2rem;
    width: 80%;
  }
  .okStatusDeliveryCtn {
    width: 60%;
  }

  .okStatusDeliveryCtn p {
    font-size: 0.8rem;
  }

  /* Enquire Form*/

  .outerFormCtn {
    width: 80%;
    margin: auto;
  }
  .nameEmail {
    width: 90%;
  }
  .functionsGuestNumber {
    width: 90%;
  }
  .inputs input {
    width: 90%;
  }
  .inputs label {
    width: 90%;
  }
  .inputs textarea {
    font-family: "Playfair Display", serif;

    width: 90%;
  }

  .inputsBtn input {
    width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .functionCtnInner p {
    font-size: 1.4rem;
    line-height: 35px;
  }
  .okStatusDeliveryCtn {
    width: 40%;
  }
  .okStatusDeliveryCtn p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1240px) {
  .nameEmail {
    width: 70%;
  }
  .functionsGuestNumber {
    width: 70%;
  }
  .inputs input {
    width: 70%;
  }
  .inputs label {
    width: 70%;
  }
  .inputs textarea {
    font-family: "Playfair Display", serif;

    width: 70%;
  }
}

@media screen and (min-width: 1699px) {
  .functionCtnInner p {
    width: 70%;
  }

  .nameEmail {
    width: 50%;
  }
  .functionsGuestNumber {
    width: 50%;
  }
  .inputs input {
    width: 50%;
  }
  .inputs label {
    width: 50%;
  }
  .inputs textarea {
    font-family: "Playfair Display", serif;

    width: 50%;
  }
  .inputsBtn input {
    width: 20%;
  }
}

@media screen and (min-width: 2799px) {
  .functionCtnInner p {
    width: 50%;
  }

  .nameEmail {
    width: 30%;
  }
  .functionsGuestNumber {
    width: 30%;
  }
  .inputs input {
    width: 30%;
  }
  .inputs label {
    width: 30%;
  }
  .inputs textarea {
    font-family: "Playfair Display", serif;

    width: 30%;
  }
  .inputsBtn input {
    width: 10%;
  }
}
