.containerIntro {
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  border-top: black solid 100px;
}

.buttonEnterContainer {
  width: 100%;
  background-color: black;

  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.buttonEnter {
  color: #b08f33;
  font-size: 2rem;

  border: solid 2px rgba(255, 255, 255, 0);
  padding: 0.3em 1.2em;
  border-radius: 2em;
  transition: all 0.8s;

  font-family: "Playfair Display", serif;
  font-weight: 500;
}
.buttonEnter:hover {
  border-color: #b08f33;
  background-color: black;
}

.btnContainer {
  padding: 30px;
}
