.custom {
  flex-direction: column;
  position: relative;
  top: 90px;
}

.balls {
  display: flex;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /*background-color: #b08f33;*/
  margin-right: 10px;
  animation: ball 0.5s ease infinite alternate;
}

.ball1 {
  background-color: green;
}

.ball2 {
  animation-delay: 0.1s;
  background-color: aliceblue;
}

.ball3 {
  animation-delay: 0.2s;
  background-color: red;
}

@keyframes ball {
  to {
    transform: translateY(-10px);
  }
}

.customText {
  font-weight: 100;
  font-family: "Playfair Display", serif;
}
